<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>TestTodos</title>
=======
    <title>Blog</title>
>>>>>>> 279db6265040d1a014fe13cc7182155fef431d88
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
